html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

nav ol {
  list-style-type: none;
  margin: 0;
  padding: 1.25em 0;
  display: flex;
  justify-content: center;
}
