html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

nav ol {
  list-style-type: none;
  margin: 0;
  padding: 1.25em 0;
  display: flex;
  justify-content: center;
}

.hero-banner {
  width: 100%;
  height: 200px;
  background-color: #999;
}

nav ol li {
  padding: 0 0.5em;
}

nav ol li a {
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
.grid:nth-child(1) {
grid-column 1 /span 3;
}

.grid img {
  width:100%;
  height: 15vw;
  object-fit: cover;
}
