html {
  box-sizing: border-box
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
    font-family: "Libre-Baskerville", serif;
    font-size: 25px;
    background-color: #E6F0CE;
}

h1 {
  font-size: 100px;
}

nav ol {
  list-style-type: none;
  margin: 0;
  padding: 1.25em 0;
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  color: #E6F0CE;
}

.hero-banner {
  height: 100%;
  height: 40vh;
  background-color: #1986;
  background-image: url("../images/forest-cry.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

}

nav ol li {
  padding: 0 0.5em;
}

nav ol li a {
  text-decoration: none;
  color: #000;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.chosen-photo {
  padding: .25rem;
}

#sheet-ghost {
  background-color: #FFFFFF;
}

.grid img {
  width:100%;
  height: 30vw;
  object-fit: cover;
  border-style: solid;
  border-width: medium;
  border-color: #6B784B;
}

.about-me {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: .5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.about-me img {
  width: 100%;
  margin-left: 1rem;
  border-style: solid;
  border-width: thick;
  border-color: #6B784B;
}

h2 {
  margin-left: 2.5rem;
  margin-bottom: .5rem;
}

footer {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-top: 6rem;
}

footer a {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
}
